.list-group-width {
  width: 33.333333%;
}

.card-width {
  width: 66.666667%;
}

.content {
  width: calc(100% - 296px);
  margin-left: auto;
  padding: 32px 32px 32px 0;
}

.header {
  max-width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}
